.window-content {
  overflow-y: auto;
  height: calc(100% - 20px);
}

.sunken-panel {
  border: 2px inset #dfdfdf;
  background-color: #fff;
  padding: 4px;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: #dfdfdf;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #808080;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #808080, 1px 1px 0 #000;
}

table > tbody > tr > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

fieldset button {
  margin: 0 5px;
}

fieldset button:first-of-type {
  margin-left: 0;
}

fieldset button:last-of-type {
  margin-right: 0;
}
